<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>View Configuration</string>
		<key>sectionOptions</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Left Margin</string>
				<key>keyPath</key>
				<string>leftMargin</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Right Margin</string>
				<key>keyPath</key>
				<string>rightMargin</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Column Spacing</string>
				<key>keyPath</key>
				<string>columnSpacing</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>BoolCell</string>
				<key>label</key>
				<string>Show Titles</string>
				<key>keyPath</key>
				<string>showTitles</string>
				<key>cellHandlerClass</key>
				<string>BoolCellHandler</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>BoolCell</string>
				<key>label</key>
				<string>Edit Mode</string>
				<key>keyPath</key>
				<string>editMode</string>
				<key>cellHandlerClass</key>
				<string>BoolCellHandler</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Thumbnail Configuration</string>
		<key>sectionOptions</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Width</string>
				<key>keyPath</key>
				<string>thumbnailWidth</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Height</string>
				<key>keyPath</key>
				<string>thumbnailHeight</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Border Configuration</string>
		<key>sectionOptions</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>EnumCell</string>
				<key>label</key>
				<string>Shape</string>
				<key>keyPath</key>
				<string>shape</string>
				<key>cellHandlerClass</key>
				<string>EnumCellHandler</string>
				<key>options</key>
				<string>RoundedRect,Polygon,Circle</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Width</string>
				<key>keyPath</key>
				<string>borderWidth</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>EnumCell</string>
				<key>label</key>
				<string>Color</string>
				<key>keyPath</key>
				<string>borderColor</string>
				<key>cellHandlerClass</key>
				<string>EnumCellHandler</string>
				<key>options</key>
				<string>red,orange,green,blue,yellow,black,white,cyan,magenta,purple,brown,gray,lightGray,darkGray</string>
				<key>dataConverter</key>
				<string>ColorToStringConverter</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Radius</string>
				<key>keyPath</key>
				<string>borderRoundedRadius</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Rotation Angle</string>
				<key>keyPath</key>
				<string>rotationAngle</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Sides</string>
				<key>keyPath</key>
				<string>numOfSides</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Shadow Configuration</string>
		<key>sectionOptions</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Offset Width</string>
				<key>keyPath</key>
				<string>shadowOffsetWidth</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Offset Height</string>
				<key>keyPath</key>
				<string>shadowOffsetHeight</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Blur</string>
				<key>keyPath</key>
				<string>shadowBlur</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Delete Icon Configuration</string>
		<key>sectionOptions</key>
		<array>
			<dict>
				<key>identifier</key>
				<string>TextCell</string>
				<key>label</key>
				<string>Side Length</string>
				<key>keyPath</key>
				<string>deleteSignSideLength</string>
				<key>cellHandlerClass</key>
				<string>TextCellHandler</string>
				<key>keyboardType</key>
				<string>Numeric</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>EnumCell</string>
				<key>label</key>
				<string>Background Color</string>
				<key>keyPath</key>
				<string>deleteSignBackgroundColor</string>
				<key>cellHandlerClass</key>
				<string>EnumCellHandler</string>
				<key>options</key>
				<string>red,orange,green,blue,yellow,black,white,cyan,magenta,purple,brown,gray,lightGray,darkGray</string>
				<key>dataConverter</key>
				<string>ColorToStringConverter</string>
			</dict>
			<dict>
				<key>identifier</key>
				<string>EnumCell</string>
				<key>label</key>
				<string>Foreground Color</string>
				<key>keyPath</key>
				<string>deleteSignForegroundColor</string>
				<key>cellHandlerClass</key>
				<string>EnumCellHandler</string>
				<key>options</key>
				<string>red,orange,green,blue,yellow,black,white,cyan,magenta,purple,brown,gray,lightGray,darkGray</string>
				<key>dataConverter</key>
				<string>ColorToStringConverter</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
